#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



body {
  background-color: #626161c2;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 65px;
}

form{
  background-color: #2f2f2f;
  border: 2px solid #535252;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 850px;
  
  text-align: center;
}


label{
  
  font-weight:  bold;
  margin-top: 10px;
  margin-right: 8px;

}

input[type="text"] {
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #666;
  margin-top: 5px;
  background-color: #444;
  color: white;
}

input[type="submit"] {
  background-color: #555151;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-top: 15px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1f1f1f;
}

.PostCard {
  background-color: #2b2b2b;
  border: 2px solid #5b5959;
  border-radius: 5px;
  padding: 15px;
  width: 850px;
  margin: 15px auto;
  text-align: center;
}

.PostCard h3 {
  color: #f9fafa;
  margin-bottom: 8px;
}

.PostCard p {
  color: #ddd;
  line-height: 1.4em;
}

h2 {
  margin-bottom: 10px;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
